[submodule "cmake"]
	path = cmake
	url = ../cmake.git
[submodule "libs/fmtlib"]
	path = libs/fmtlib
	url = ../../utility/fmtlib
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = ../../utility/spdlog
